.fondoItem{
    background-color: #ff111328;
    height: 130px;
    border-radius: 15px;
    color: white;
}
.seleccionado{
    background-color: #ff3366;
}
.sexo{
    font-size: 40px;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}
.form-range{
    padding: 0 20px;
}
input[type=range]::-webkit-slider-thumb {
    background: #ff3366;
}
.fa-minus,
.fa-plus{
    padding: 5px;
    cursor: pointer;
    background-color: #ff4c445e;
    border-radius: 50%;
}
.fa-minus{
    margin-right: 5px;
}
.contenedor-sexo{
    user-select: none;
    cursor: pointer;
}