<div class="row mx-0">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">Resultado</h2>
        <div class="row">
            <div class="fondoItem col-lg-12 text-center">
                <div class="contenedor">
                    <p class="resultado">{{resultado}}</p>
                    <p class="numero my-5">{{bmi}}</p>
                    <p class="interpretacion mt-3">{{interpretacion}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <button routerLink="/" class="btn-btn-primary btn-lg btnColor">Re-calcular</button>
        </div>
    </div>
</div>
